<h1>Welcome to Philly Open Data</h1>
<p>Visualizing data provided by 
	<%= link_to 'Philly Open Data', 'www.opendataphilly.org' %>
</p>

<table class='table table-striped table-bordered table-hover'>
	<tr>
		<% @fields.each do |field| %>
			<% logger.debug '**** field ****' %>
			<% unless field.blank? %>
				<% logger.debug '**** field in unless ****' %>
				<% logger.debug field %>
				<th><%= field %></th>
			<% end %>
		<% end %>
	</tr>
	<tbody>
	<% @top_ten.each do |violation|	%>
	
		<tr>
			<% @fields.each do |field| %>
				<td>
					<%= violation[field].to_s %>
				</td>
			<% end %>
		</tr>
	<% end %>
	</tbody>
</table>
